REC.json
{
  "name": "REC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recvendas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1248,
        -208
      ],
      "id": "1557f7c6-78cf-4481-80bb-8f998283b34c",
      "name": "Webhook",
      "webhookId": "bb65a4f3-171d-4ea8-b90a-9897b26ea97c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "963659bb-8927-44a0-a491-ee339b183fea",
              "name": "created_at",
              "value": "={{ $json.body.date_created }}",
              "type": "string"
            },
            {
              "id": "6a900789-c621-4f63-a0de-126d627a7613",
              "name": "product",
              "value": "={{ $json.body.product.name }}",
              "type": "string"
            },
            {
              "id": "06217ae5-7195-4495-9937-7927a3bbb035",
              "name": "payment_method",
              "value": "={{ $json.body.payment_type_enum_key }}",
              "type": "string"
            },
            {
              "id": "5210a4ee-db1f-425d-a4c9-9e31ce17e73b",
              "name": "status",
              "value": "={{ $json.body.sale_status_detail }}",
              "type": "string"
            },
            {
              "id": "2bdb1b77-d546-4e8f-aa3e-48266e929b13",
              "name": "valor",
              "value": "={{ $json.body.installment_amount }}",
              "type": "string"
            },
            {
              "id": "4874352d-7fe8-48c2-b08a-ecda0398ae03",
              "name": "name",
              "value": "={{ $json.body.customer.full_name }}",
              "type": "string"
            },
            {
              "id": "0cff1572-50bc-442e-a9af-e9fecbd914a6",
              "name": "email",
              "value": "={{ $json.body.customer.email }}",
              "type": "string"
            },
            {
              "id": "749c1eff-a20b-4226-a5ca-b21b49a37056",
              "name": "phone",
              "value": "={{ $json.body.customer.phone_extension }}{{ $json.body.customer.phone_area_code }}{{ $json.body.customer.phone_number }}",
              "type": "string"
            },
            {
              "id": "093c3680-bb8f-48ff-8036-299845ad162b",
              "name": "cpf",
              "value": "={{ $json.body.customer.identification_number }}",
              "type": "string"
            },
            {
              "id": "464ad09e-f690-4997-bcbf-7fb7dd62df49",
              "name": "evo_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "60717211-9182-4f2d-a25c-f9d93ba6f335",
              "name": "evo_api_key",
              "value": "",
              "type": "string"
            },
            {
              "id": "21c9a775-fd37-455f-bf68-84fe7a073b90",
              "name": "evo_instance",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -160
      ],
      "id": "406c8b93-5c5f-4340-8f8b-4a33eb5c7041",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -848,
        -144
      ],
      "id": "4e5b07d7-51d0-46f9-adfa-756b62162281",
      "name": "Get a row",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "Ho4GRvqMxN3zktZl",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "273cea99-221e-4b9e-b460-c4dface8522f",
              "leftValue": "={{ $('Edit Fields').item.json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -144
      ],
      "id": "acdd3508-ca76-4624-98e1-f78605398118",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f68b7f6c-2058-4eb6-8800-a6744a6e897e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e49cc91616eb7f787391db01b97561e2b7c6ca64d7f7c6903162d40db816c6a"
  },
  "id": "YnH0de8RWYKJebsa",
  "tags": []
}